@CHARSET "UTF-8";

table.encounterTable {
	width:100%;
    border-collapse:collapse;
}

table.encounterTable th,table.encounterTable td
{
	border: 1px solid black;
}

table.encounterTable th
{
	padding:10px;
	text-align:center;
	background-color : #009d8e;
}

table.encounterTable td
{
	border: 1px solid black;
	padding : 3px 10px 3px 10px;
}

table.encounterTable tr.mouseOverRow {
	background-color : #EEEEEE;
	cursor: pointer;
}