@CHARSET "UTF-8";

.encounterTable {
	width:100%;
    border-collapse:collapse;
}

.encounterTable th,table.encounterTable td
{
	border: 1px solid black;
}

.encounterTable th
{
	padding:10px;
	text-align:center;
	background-color : #009d8e;
}

.encounterTable td
{
	border: 1px solid black;
	padding : 3px 10px 3px 10px;
}

.encounterTable tr.mouseOverRow {
	background-color : #EEEEEE;
	cursor: pointer;
}

#encountersLoader {
	margin-left: auto;
	margin-right: auto;
	
	padding-top: 10px;
	
	width: 100px;
}

.nextButton, .prevButton {
	cursor: pointer;
}